<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h2 style="font-weight: bold;">Bonjour,</h2>
	<h4>Vous êtes sur le point de créer votre compte sur l'application SEPanouir.</h4>
	<h4>Utilisez le code de sécurité suivant pour le compte  <b>{{email}}</b>.</h4>
	<h4>Code de vérification: <b>{{code}}</b></h4>
	<h4>Si vous n’avez demandé aucun code, vous pouvez ignorer cet e-mail. Un autre utilisateur a peut-être indiqué votre adresse e-mail par erreur.</h4>
	<h4>Merci,</h4>
	<h4>L'équipe SEPanouir</h4>
</body>
</html>

<style type="text/css">
	*{
		font-family: sans-serif;
	}
	b{
		font-weight: bold;
		color:#7C76CC;
	}

</style>